@import "tailwindcss";

@tailwind utilities;


@layer utilities {
	nav > *,
	#projects > a > div > *,
	#projects > a > img,
    #content > a > *, 
    #content > p,
	footer > * {
        @apply opacity-0;
    }
}

body {
	background-color: #fff;
}
